@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  --primary: #a78bfa;
  --primary-hover: #8b5cf6;

  --muted: #64748b;
  --border: #e5e7eb;

  --surface: #fafafc;
}

body {
  background: var(--background);
  color: var(--foreground);
}